
.text-light {
  color: #fff;
}

.text-dark {
  color: #333;
}

/* .text-primary {
  color: aqua
}
.text-secondary {
  color: darkblue
}
.text-accent {
  color: pink
} */

.bg-light {
  background-color: #fff;
}

.bg-dark {
  background-color: #333;
}
/* 
.bg-primary {
  background-color: aqua;
}
.bg-secondary {
  background-color: darkblue;
}
.bg-accent {
  background-color: pink;
} */