a {
  /* color: #035f94; */
  color: #046aa5;
  text-decoration: none; 
}
a:visited {
  color: transparent;
}
a:hover {
  color: rgb(10, 139, 245);
}
.router-link-active, .router-link-exact-active {
  /* color: #0384b3; */
  color: #0495ca;
  text-decoration: underline;
}